<div class="container mt-5">
  <%= link_to '← Go Back', root_path, class: 'btn btn-link' %>
  <h2 class="text-center"><%= @store.name %> (<%= @resource %>)</h2>
  <br/>
  <% if @product %>
    <h3>Product (<%= @product['sku'] %>)</h3>
    <table class="table">
      <tbody>
        <% @product.as_json.map do |key, value| %>
          <tr>
            <th>
              <%= key %>
            </th>
            <td>
              <%= value %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <h3>Categories (<%= @categories.size %>)</h3>
    <% if @categories.blank? %>
      <p>No hay categorías aquí</p>
    <% else %>
      <table class="table">
        <thead>
          <% unless @resource.eql?('api') %>
            <th>ID</th>
          <% end %>
          <th>Name</th>
          <% if @resource.eql?('woocommerce') %>
            <th>Products</th>
          <% end %>
          <th>Slug</th>
          <th>Subcategories</th>
        </thead>
        <tbody>
          <% @categories.each do |category| %>
            <tr>
              <% unless @resource.eql?('api') %>
                <td>
                  <%= category.dig('id') %>
                </td>
              <% end %>
              <td>
                <%= category['name'] %>
              </td>
              <% if @resource.eql?('woocommerce') %>
                <td>
                  <%= category.dig('products') %>
                </td>
              <% end %>
              <td>
                <%= category['slug'] %>
              </td>
              <% if @resource.eql?('woocommerce') %>
                <td>
                  <%= category['subcategories'] %> (<%= category['subcategories']&.size&.to_i %>)
                </td>
              <% else %>
                <td>
                  <%= category['subcategories'] %> (<%= category['subcategories']&.size&.to_i %>)
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
    </hr>
    </br>
    <h3>Products (<%= @products.size %>)</h3>
    <% if @products.blank? %>
      <p>No hay productos aquí</p>
    <% else %>
      <table class="table">
        <thead>
          <th>
            <%= link_to dashboard_show_path(@store['sku'], @resource, { sort_by: 'sku' }) do %>
              SKU
              <i class="fa fa-sort-<%= @sorting_method.eql?('sku') ? 'down' : 'up' %>"></i>
            <% end %>
          </th>
          <th>
            <%= link_to dashboard_show_path(@store['sku'], @resource, { sort_by: 'name' }) do %>
              Name
              <i class="fa fa-sort-<%= @sorting_method.eql?('name') ? 'down' : 'up' %>"></i>
            <% end %>
          </th>
          <th>Images</th>
          <th>Variations</th>
          <th>
            Date Created
          </th>
          <th>
            Date Modified
          </th>
        </thead>
        <tbody>
          <% @products.each do |product| %>
            <tr>
              <td>
                <%= link_to product['sku'], dashboard_show_path(@store['sku'], @resource, product['sku'], { sort_by: 'date_modified' }) %>
              </td>
              <td>
                <%= product['name'] %>
              </td>
              <td>
                <%= product['images']&.size %>
              </td>
              <td>
                <%= product['variations']&.size %>
              </td>
              <td>
                <%= product['date_created'] %>
              </td>
              <td>
                <%= product['date_modified'] %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  <% end %>
</div>